
<div class="hero-unit">
<h1>Welcome to TrippinIn Travel Helper</h1>
<p>
  Discover local gems wherever you travel
</p>
<p>
  <%= link_to "Sign Up Now!",  new_user_registration_path, class: "btn btn-primary btn-large" %>
</p>
</div>

<div style="margin:auto">
	<table>
		<tr>
			<td>
				<%=  image_tag("sbux.jpg") %>
			</td>
			<td>
				<%=  image_tag("girls.jpg") %>
			</td>
			<td>
				<%=  image_tag("rome.jpg") %>
			</td>
			<td>
				<%=  image_tag("steak.jpg") %>
			</td>
			<td>
				<%=  image_tag("sunset.jpg") %>
			</td>
		</tr>
	</table>

</div>